.hardware .container{
	position: relative;
}
.icons{
	width:500px;
}
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #199ed9;
    transition: background .15s,border .15s,box-shadow .4s,color .15s;
    position: absolute;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 10px white);      
    filter: drop-shadow(0px 0px 10px white);
    padding:5px; 
}
.icon:hover {
    border-color: ;
    -webkit-filter: none;      
    filter:none;
}
.line{
	position:absolute;
	opacity:0;
	transition:400ms all;
}
.line.active{
	opacity: 1;
}
.line line{
	stroke:#199ed9;
	stroke-width:2;
}
.icon#one{
	top:233px;
	left:82px;
}
.one.line{
	top:114px;
	left:118px;
}
.icon#two{
	top:155px;
	left:35px;
}
.two.line{
	top:114px;
	left:71px;
}
.icon#three{
	top:193px;
	left: 218px;
}
.three.line{
	top:114px;
	left:254px;
}
.icon#four{
	top:252px;
	left:315px;
}
.four.line{
	top:114px;
	left:352px; 
}
.icon#five{
	top:57px;
	left:418px;
}
.five.line{
	top:75px;
	left:456px;
}
.icon#six{
	top:86px;
	left:87px;
}
.six.line{
	top:104px;
	left:125px;
}
.icon#seven{
	top:47px;
	left:150px;
}
.seven.line{
	top:67px;
	left:187px;
}
.icon#eight{
	top:133px;
	left: 238px;
}
.eight.line{
	top:104px;
	left:274px;
}

.overlay{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	transition:100ms all;
}
.overlay.active{
	opacity:1;
}

.content{
	display:none;
	width:0px;
	opacity: 0;
	min-height:250px;
	background-color: #f5f7fa;
	float: left;
	margin:63px 0;
	border:2px solid #199ed9;
	padding:15px;
	border-radius:3px;
	width:330px;
}
.content.active{
	display: inline-block;
}

.content p{
	width:300px;
}

.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(25,158,217, 0.4);
  animation: pulse 1500ms infinite;
  padding:0px;
}
.pulse:hover {
  //animation:none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(25,158,217, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(25,158,217, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(25,158,217, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0px rgba(25,158,217, 0.6);
    box-shadow: 0 0 0 0px rgba(25,158,217, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(25,158,217, 0);
      box-shadow: 0 0 0 15px rgba(25,158,217, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(25,158,217, 0);
      box-shadow: 0 0 0 0 rgba(25,158,217, 0);
  }
}

/*------------------

Bootstrap Hack - No Gutters

add 'no-gutters' to any row that needs gutters removed

------------------*/

/* Make sure images don't get too big */
img {
  max-width: 100%;
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
.margin-bottom-half{
  margin-bottom:30px !important;
}